@use "../main.scss";

$red: #bb2339;
$white: #ffffff;
$black: #242424;
$darkgrey: #333333;
$pro: "Cera Round Pro", sans-serif;
$sans: "Open Sans", sans-serif;

main {
  padding: 220px 0 0;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .page {
      position: absolute;
      top: 0;
      left: 45px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.03em;
      font-family: $sans;
      color: $red;
      span {
        color: #b0b0b0;
      }
      .span {
        color: #b0b0b0;
      }
      a {
        color: $red;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      h2 {
		margin-top: 10px;
        font-weight: 500;
        font-size: 64px;
        line-height: 130%;
        font-family: $pro;
        color: $black;
        margin-bottom: -20px;
      }
      .spoon {
        margin-bottom: 10px;
      }
      p {
        max-width: 720px;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.04em;
        color: #242424;
        opacity: 0.8;
      }
      .img {
        width: 100%;
      }
    }
  }
}
